{% extends 'baseTemplate.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Add Record</h2>
  <form role="form" action="" method="post">
  	{% if form %}
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Submit</button>
    {% endif %}
</form>
{% endblock %}
