{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} : StarSeed Simple CRUD App {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "css/cover.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'/>

</head>
<body> 
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">StarSeed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a href="{% url 'home' %}" class="nav-link {% if request.path == home %} active {% endif %}">Home</a>
        </li>
       <li class="nav-item active">
           <a href="{% url 'list' %}" class="nav-link {% if request.path == list %} active {% endif %}">List</a>
        </li>
       <li class="nav-item active">
           <a href="{% url 'add' %}" class="nav-link {% if request.path == add %} active {% endif %}">Add</a>
        </li>
       
         
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
       <div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  <script src='{% static "js/jquery-3.2.1.slim.min.js" %}'></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/popper.min.js" %}'></script>
</body>
</html>