{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} : StarSeed Simple CRUD App {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "css/cover.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'/>

</head>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">StarSeed</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a href="{% url 'home' %}" class="nav-link {% if request.path == home %} active {% endif %}">Home</a>
            <a href="{% url 'list' %}" class="nav-link {% if request.path == list %} active {% endif %}">List</a>
            <a href="{% url 'add' %}" class="nav-link {% if request.path == add %} active {% endif %}">Add</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Star Seed Project</h1>
        <p class="lead">An application which stores names and email addresses in a database </p>
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
         
        </div>
      </footer>
    </div>


  <script src='{% static "js/jquery-3.2.1.slim.min.js" %}'></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/popper.min.js" %}'></script>
</body>
</html>