{% extends 'baseTemplate.html' %}
{% block content %}
  <table class="table table-responsive" width="100%">
    <tr>
        <th>First Name:</th>
        
        <th>Middle Name:</th>
        
        <th>Email address:</th>
    </tr>
    {% for item in clientinfo %}
    <tr> 
        <td>{{ item.firstname }}</td>
        <td>{{ item.middlename }}</td>
        <td>{{ item.emailaddress }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}



